
.header{

    margin: 50px 50px 50px 50px;
 
border-radius: 20px;
   width: 1780px; 
   height: 660px;
   background-color: #C6E4D6; 
   justify-content: space-around;

}

/* nave style */


.nave-title{
    font-size: 15px;
    color: #635d5d;
    padding: 15px 0px 0 70px;
}
/* banner style */
.banner{
    display: flex;
    width: 622;
    height: 222;
   
}
.banner-containt{
   margin-left: 20px;
    font-size: 45px;
    font-weight: 600;


}

.button-primary{
   margin-left: 20px;
   margin-top: 15px;
    background-color:#006A50 ;
    font-size: 13px;
    padding: 40px 35px;
    border: 10px;
    padding: 15px;
    border-radius: 10px;
    
}
.banner-profile-pic{
    width:474px ;
    height: 400;

}
.future{
margin-left: 35px;
font-size: 20px;

}
.section-discription{
    margin-left: 35px;
}


.skils-container{
    
    display: flex;
    text-align: center;
    justify-content: center;
}
.skil-1{
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #a1bae6;
}
  .skil-2{
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #C6E4D6;
  }  
  .skil-3{
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #F7EBCF;
  }
.more-button-1{
    background-color: #5490F5;
    margin-bottom: 3px;
    color: white;

}
.more-button-2{
    
    background-color: #09A15C;
    
    color: white;

}
.more-button-3{
    
    background-color: #FFC239;
    
    color: white;

}
.top-news{
    margin-left: 20px;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
.top-news-2{
    display: flex;
}
.hot-news{
    padding-left: 24px;

}
.button-4{
    color: white;
    background-color: #006A50;

}
.img-stl{
    width: 408;
    height: 306;
    border-radius: 10px;


}
.text-style{
  
    text-align: center;
}
.style-box{

    list-style: none;
    text-align: center;
    border: 20px;
    color: white;

}
.st-1{ 

    background-color: #FFFFFF;
    font-size: 30px;
    
}


.st-2{ 

    background-color: #C6E4D6;
    font-size: 30px;
    
}
.st-3{ 

    background-color: #FFFFFF;
    font-size: 30px;
}
.st-4{ 

    background-color: #FFFFFF;
    font-size: 30px;
}
    
.last{
    margin-left: 850px;
    align-items: center;
    background-color: #006A50;
}
    